<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.sichuan.cd.zsh"
    >

<!--    <uses-feature-->
<!--        android:name="android.hardware.camera"-->
<!--        android:required="false" />-->

<!--    <uses-permission android:name="android.permission.INTERNET"/>-->
<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->

<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

<!--&lt;!&ndash;    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />&ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.RECORD_AUDIO"/>-->
<!--    <uses-permission android:name="android.permission.CAMERA"/>-->
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>-->
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />-->
<!--&lt;!&ndash;    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />&ndash;&gt;-->


<!--    &lt;!&ndash; 适用于Android 11及更高版本的权限 &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".zsh.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap = "true"
        android:supportsRtl="true"
        android:theme="@style/Theme.cdcj"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:installLocation="preferExternal"
        tools:targetApi="31">

<!--        android:name=".mvvm.LoginsActivity"-->
<!--        android:name=".zsh.LoginActivity"-->
<!--        android:name=".ui.MainActivity"-->

        <activity
            android:name=".zsh.LoginActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".mvvm.VideoActivity"/>

        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

    </application>

</manifest>